<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.core.model.JieunDao">
  <select id="selectJieunBbs" resultType="com.project.core.model.entity.JieunVo">
	SELECT * FROM JIEUN;
  </select>
  
  <insert id="insertBoard">
  		insert into CorE.JIEUN (subject,content,writer) values (#{subject}, #{content}, #{writer})  
  </insert>
  
  <select id="readBoard" resultType="com.project.core.model.entity.JieunVo">
  		select * from JIEUN where idx = #{idx};
  </select>
  
  <delete id="deleteBoard" parameterType="int" >
  		DELETE FROM JIEUN WHERE IDX = #{idx};
  </delete>
</mapper>